body {
  margin-top: 90px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }
  .navbar .nav-item:last-child {
    padding-right: 0; }

#home-section {
  position: relative;
  background: url("../img/mountains.jpg") no-repeat center top;
  background-size: cover;
  min-height: 600px; }
  #home-section .primary-overlay {
    background: rgba(50, 146, 156, 0.7);
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #home-section .first-col {
    padding-top: 100px; }

#subscribe-section {
  background: #252525; }
  #subscribe-section .subscribe-inner {
    padding-top: 45px;
    padding-bottom: 40px; }

#authors-section img {
  margin-top: -100px; }

#authors-section .fab {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 30px;
  background: #E9ECEF;
  padding: 10px; }

#authors-section .card {
  border-radius: 8px; }
  #authors-section .card .card-body:hover {
    background: #3292a6;
    border-radius: 8px;
    color: #fff; }
    #authors-section .card .card-body:hover h4 {
      color: #fff !important; }
    #authors-section .card .card-body:hover .fab {
      background: #252525;
      color: #fff; }

#authors-section .authors-inner {
  padding-top: 50px;
  padding-bottom: 50px; }

@media (max-width: 992px) {
  #authors-section .card:nth-child(1),
  #authors-section .card:nth-child(2) {
    margin-bottom: 100px; } }

@media (max-width: 768px) {
  #home-section h1 {
    font-size: 80px; }
  #authors-section .card {
    margin-bottom: 100px; } }

@media (max-width: 576px) {
  #home-section h1 {
    font-size: 50px; } }
